


.slideshow-container {
    padding: 1rem;
    margin-bottom: 1rem;
    /* position: relative; */
    /* width: 80%; */
    /* max-width: 600px; */
    /* overflow: hidden; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
.slider-wrapper {
    position: relative;
    max-width: 45rem;
    max-height: 30rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    display: flex;
    /* max-width:inherit; */
    max-height: inherit;
    justify-content: wrap;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* background-color: crimson; */
}

.slider::-webkit-scrollbar {
    height: 0.5rem;
}

.slider::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 0.25rem;
}

.slider::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
    border-radius: 0.25rem;
}


.slide {
    display: flex;
    align-items: center;
    flex: 1 0 40%;
    scroll-snap-align: center;
    /* background-color: blueviolet; */
    aspect-ratio: 1/1;
    object-fit: contain;
    padding-left: 1rem;
    padding-right: 1rem;
}

.slide a img {
    flex: 1 0 100%;
    /* height: 40%; */
    max-width: 100%;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    transition: transform ease 250ms;
} 

.slide a img:hover {
    box-shadow: 0 2rem 4rem -1rem var(--primary-color);
    transform: translateY(-0.5rem);
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    opacity: 0.25;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}
.arrow {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightest-color);
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.arrow:hover {
    opacity: 1;
}

.arrow.left {
    left: 1rem;
}

.arrow.right {
    right: 1rem;
}


/* For screens narrower than 768px */
@media (max-width: 768px) {
    .slide {
        flex: 1 0 90%; /* Slides occupy more width on smaller screens */
    }
}

/* For screens narrower than 576px */
@media (max-width: 576px) {
    .slide {
        flex: 1 0 100%; /* Each slide takes the full width */
        padding: 0.25rem; /* Reduce padding */
    }

    .arrow {
        display: none; /* Hide arrows on very small screens to maximize space */
    }
}